{% extends 'base.html' %}

{% block head %}
<title>Adding Player</title>
{% endblock %}

{% block body %}
<div>
    <h1>Add Player</h1>

    <div class="form">
        <form method="post" action="/addPlayer">
            <label for="playerId">Player Id:</label>
            <input type="text" id="playerId" name="playerId" required>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="teamId">Team Id:</label>
            <input type="text" id="teamId" name="teamId" required>

            <label for="nation">Nation:</label>
            <input type="text" id="nation" name="nation" required>

            <label for="fieldPos">Field Position:</label>
            <input type="text" id="fieldPos" name="fieldPos" required>

            <label for="age">Age:</label>
            <input type="text" id="age" name="age" required>

            <button type="submit">Add Player</button>
        </form>
        <br>
        <form method="post" action="/addWage">
            <label for="playerId">Player Id:</label>
            <input type="text" id="playerId" name="playerId" required>

            <label for="annual">Annual Wage:</label>
            <input type="text" id="annual" name='annual' required>

            <label for="transfer">Transfer Fee:</label>
            <input type="text" id="transfer" name="transfer" required>

            <label for="joined">Year Joined:</label>
            <input type="text" id="joined" name="joined" required>
            <button type="submit">Add Wage</button>
        </form>
    </div>
</div>
{% endblock %}