{% extends 'base.html' %}

{% block head %}
<title>Premier League</title>
{% endblock %}

{% block body %}
<div>
    <h1>Players</h1>
    <a href="/addPlayer">Add Player</a>
    <a href="/compare">Compare Two Players</a>
    <ul>
        {% for player, wage in data %}
        <li>
            <ul>
                <li>{{ player[1] | upper }}</li>
                <li>Kit Number: {{ player[0] }}</li>
                <li>Team: {% if player[2] == 1%} Manchester City
                    {% elif player[2] == 5%} Liverpool
                    {%endif%}</li>
                <li>Country: {{ player[3]| upper }}</li>
                <li>Field Position:
                    {% if player[4] == 1%} Goalkeeper
                    {% elif player[4] == 2%} Defender
                    {% elif player[4] ==3%} Midfielder
                    {% elif player[4] ==4%} Forward
                    {%endif%}</li>
                <li>Age: {{ player[5] }}</li>
                <li>Annual Wage: {{ '{:,.0f}'.format(wage[1] *
                    1000000)}} €</li>
                <li>Transfer: {{ '{:,.0f}'.format(wage[2] *
                    1000000)}} €</li>

                <li>Joined: {{ wage[3] }}</li>
            </ul>
            <br>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}